@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('../font/PTSans-normal-c.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('../font/PTSans-normal-l.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../font/PTSans-bold-c.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../font/PTSans-bold-l.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  background-color: #ffffff;
}

.header__logo:hover,
.header__logo:focus {
  opacity: 0.8;
  outline: none;
}

.header__nav-list {
  list-style: none;
}

.header__nav-item {
  font-weight: 700;
}

.header__nav-item a {
  color: #000000;
}

.header__nav-item a:hover,
.header__nav-item a:focus {
  color: #81b3d2;
  outline: none;
}

.header__nav-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__nav-item_active a {
  color: #766357;
}

.hero {
  text-align: center;
  background-color: #000000;
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.reasons__title,
.reasons__desc {
  text-align: center;
}

.reasons__title {
  font-size: 21px;
  font-weight: 700;
}

.reasons__desc {
  color: #333333;
}

.reason__item-inner {
  background-color: #eeeeee;
}

.reason__item_long .reason__item-inner {
  background-color: #81b3d2;
}

.reason__item-title {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.reason__item_long .reason__item-title {
  color: #ffffff;
}

.reason__item-desc {
  color: #000000;
}

.reason__item_long .reason__item-desc {
  color: #ffffff;
}

.reason__subitem {
  list-style: none;
}

.reason__subitem-title {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.reason__subitem-desc {
  color: #333333;
}

.search__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.search__desc {
  color: #333333;
}

.search__title,
.search__desc {
  text-align: center;
}

.search__button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.search__button:hover,
.search__button:focus {
  background-color: #604e43;
  outline: none;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.footer__tag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.footer__social-list {
  list-style: none;
}

.copyright__link:hover,
.copyright__link:focus {
  outline: none;
}

.copyright__link:hover path,
.copyright__link:focus path {
  fill: #81b3d2;
}

.copyright__link:active path {
  fill: #bdbbbc;
}

.booking__item label,
.booking__item input {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.booking__item input {
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.booking__item input:hover {
  background-color: #ebebeb;
  border: 2px solid transparent;
  outline: none;
}

.booking__item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.booking__button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.booking__button:hover,
.booking__button:focus {
  background-color: #669ec0;
  outline: none;
}

.booking__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.filter__form {
  background-color: #000000;
  background-image: url("../img/bg-filter.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.filter__block-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}

.filter__block-label,
.range-price-label {
  color: #ffffff;
}

.filter__button {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.information__title,
.information__count {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sorting__list {
  list-style: none;
}

.sorting__title,
.sorting__item {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sorting__item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting__item a:hover,
.sorting__item a:focus {
  color: #81b3d2;
}

.sorting__item a:active {
  color: #000000;
  border: none;
}

.sorting__item_active a {
  color: #81b3d2;
  border: none;
  opacity: 1;
}

.result__item-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.result__item-name {
  color: #000000;
}

.result__item-name:hover,
.result__item-name:focus {
  color: #81b3d2;
}

.result__item-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.result__button-more,
.result__button-book {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}

.result__button-more {
  background-color: #81b3d2;
}

.result__button-more:hover,
.result__button-more:focus {
  background-color: #669ec0;
}

.result__button-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.result__button-book {
  background-color: #766357;
}

.result__button-book:hover,
.result__button-book:focus {
  background-color: #604e43;
}

.result__button-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.result__item-score {
  color: #666666;
  background-color: #f2f2f2;
}

/* GRID */

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__nav {
  width: 100%;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.header__nav-item:nth-child(3) {
  margin-left: 240px;
}

.header__nav-item a {
  display: block;
  min-width: 240px;
  padding: 15px 70px;
}

.hero {
  padding-top: 75px;
  padding-bottom: 80px;
}

.reasons {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.reasons__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reasons__item {
  min-width: 400px;
}

.reasons__item .reason__item-wrap {
  width: 100%;
}

.reasons__item .reason__item-inner {
  width: 400px;
}

.reason__item_long {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.reason__item_left {
  background-image: url("../img/bg-item-01.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.reason__item_left .reason__item-inner {
  margin-right: auto;
}

.reason__item_right {
  background-image: url("../img/bg-item-02.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.reason__item_right .reason__item-inner {
  margin-left: auto;
}

.reason__item-inner {
  padding: 50px 50px 70px 50px;
}

.reasons__title,
.reasons__desc,
.reason__item-title,
.reason__item-desc,
.reason__subitem-title,
.reason__subitem-desc {
  margin: 0;
  padding: 0;  
}

.reasons__title,
.reasons__desc {
  width: 500px;
  margin-left:auto;
  margin-right:auto;
}

.reasons__title {
  margin-bottom: 30px;
}

.reasons__desc {
  margin-bottom: 50px;
}

.reason__sublist {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.reason__subitem {
  padding: 160px 60px 80px 60px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
}

.search__title,
.search__desc {
  margin: 0;
  padding: 0;  
}

.search__title,
.search__desc {
  width: 500px;
  margin-left:auto;
  margin-right:auto;
}

.search__title {
  margin-bottom: 35px;
}

.search__desc {
  margin-bottom: 50px;
}

.sorting__list {
  margin: 0;
  padding: 0;
}

.results {
  padding: 0 70px;
}

.results__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.result__item-title {
  margin: 0;
  padding: 0;
}

.result__item-rating {
  margin-left: auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__social-list {
  margin: 0;
  padding: 0;
}

.modal {
  width: 568px;
  padding: 55px;
  margin: 0 auto;
}